appdirs @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/13/9e/45/de9aff042cbd8e14716eb6a553c3eb75e8d313cc1738477a933a926d87/appdirs-1.4.4-py2.py3-none-any.whl
asgiref @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/a5/f2/93/7f4ac923128d903f1ead5f5c6b0752bfe3370b72a1fb9e7a8e94e22a55/asgiref-3.3.4-py3-none-any.whl
astroid @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/a8/00/45/436f215c932e44d6ba5561a995f895e71c7c357fc09bf531b31a599155/astroid-2.5.3-py3-none-any.whl
autopep8 @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/2c/19/ca/701638e948903e253f7e20d40ebf22504bad2326b24a509251637c8c53/autopep8-1.5.6-py2.py3-none-any.whl
black @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/7b/6c/d2/efd4b805b84f116ba160490326d5b62df63da44b88a84e2b1e9042ac7f/black-20.8b1.tar.gz
certifi @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/db/9d/0a/3683163af3bb7fe252dfa5f98aaa627b305ffe603bfe0bb65ac3224c7a/certifi-2020.12.5-py2.py3-none-any.whl
cffi @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/bf/7d/8d/ff484959fbfc1c12ed775e557a1d50a11798c9497ffc053b639b593729/cffi-1.14.5-cp37-cp37m-win_amd64.whl
chardet @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/f0/e1/66/f8ced421461f1dda06ea89af6ac51a22cf72ff0595f329808634559b2b/chardet-4.0.0-py2.py3-none-any.whl
click @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/21/fd/0f/f7ff619e0ab099fc284ee2b24a86129d9dc3ad2a475dc304bbbbe20ecb/click-7.1.2-py2.py3-none-any.whl
colorama @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/33/a2/a4/09f68d0a2176d987da70e9dee0eaea3cc48f68b56a7fa8ac56c2d22dc7/colorama-0.4.4-py2.py3-none-any.whl
coreapi @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/e3/90/85/a9b868d96758b77ae61a7f26c91bb05706f2b4c42c8fbbdbd3c6645324/coreapi-2.3.3-py2.py3-none-any.whl
coreschema @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/2d/21/52/53d94831853f06b50f85d7ade96892d5fc119fe22834b1cfaba4ae7ee8/coreschema-0.0.4.tar.gz
cryptography @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/29/68/ed/19d74aaa8f111eeba2746d6d9e3b7dd919977f1ec0d871b09c25f408bc/cryptography-3.4.7-cp36-abi3-win_amd64.whl
defusedxml @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/d3/69/a8/eb355ff24ffb8df62ec3dd9524bec0ad9d9dc719bd996734d6d7aa1d56/defusedxml-0.7.1-py2.py3-none-any.whl
Django @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/ef/09/f2/8f04c021fa83236c331cab15be4b08f9a34458902b2b29928b1d3e8901/Django-3.2-py3-none-any.whl
django-ckeditor @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/83/34/9c/52a75acf41092139a360926f6622ed561b3f038a49e59f04f60813812a/django_ckeditor-6.0.0-py2.py3-none-any.whl
django-constance @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/0f/34/20/fd3393d0541d537998b9df7a0b134e9371e5e456be83d1133b960ae825/django_constance-2.8.0-py3-none-any.whl
django-cors-headers @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/c6/36/9d/97df0018234fa61a73783f6977ecccda4de9da43fda75685a0b4383e75/django_cors_headers-3.7.0-py3-none-any.whl
django-debug-toolbar @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/c6/51/f7/53960c92e5a30e025d637aa6f9bf7840ef06f1868e69981417d2953c28/django_debug_toolbar-3.2.1-py3-none-any.whl
django-environ @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/fa/a9/12/da4b2d2a535d651e0f3a064b19eb8b51acfb043461dff76fcf0aefda32/django_environ-0.4.5-py2.py3-none-any.whl
django-js-asset @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/2c/95/4e/6d885ccac04031842cc99fcc57e0b0dd2eaf3c5e5fee60c8db5a8c8abf/django_js_asset-1.2.2-py2.py3-none-any.whl
django-picklefield @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/e7/e1/0e/86dea93c3e5c70bb3a63e4ceafed6062bec3913eb0fd977114005f2c38/django_picklefield-3.0.1-py3-none-any.whl
django-rest-swagger @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/3b/3e/ee/56eedeb09704670162a406f1043876bcc919290919747c453755397f00/django_rest_swagger-2.2.0-py2.py3-none-any.whl
django-templated-mail @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/7e/12/4b/1aa79c543b016387ad9defe31e273e8364fc88476fb30c64578ea39de0/django_templated_mail-1.1.1-py3-none-any.whl
django-uploader @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/5b/b9/5e/5a020791dfa3dc1e345df470fac932a940ab3263173a5b40c714afbf29/django-uploader-0.2.1.tar.gz
djangorestframework @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/74/7c/8a/c1931b60c71c267d74753ce1999d1a9936d17e3a61f26b9563fc67fdb5/djangorestframework-3.12.4-py3-none-any.whl
djangorestframework-camel-case @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/26/1f/db/f708f8168e247fae1c0a04cb3f5afe272c26a85fd54f438d6f6efaa9b8/djangorestframework-camel-case-1.2.0.tar.gz
djangorestframework-simplejwt @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/5c/7a/67/8e4c83bdc55b609d526671d84872144a99884ec03cca03af0a14caddae/djangorestframework_simplejwt-4.6.0-py3-none-any.whl
djoser @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/3c/ae/c0/ec1d08846299e254eb570bbfa3a5e9087a18871bbd741c3f94c1c58667/djoser-2.1.0-py3-none-any.whl
drf-yasg @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/d1/c0/7f/4d5fdb72bf713aa79ac48b469619f98f1d53907f4a846ed057d1f7f22b/drf_yasg-1.20.0-py2.py3-none-any.whl
flake8 @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/1d/7d/5f/2e435985ac192feaa8f7f460422cd213fe26cf18357e0e29c24c70b54d/flake8-3.9.0-py2.py3-none-any.whl
idna @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/71/d9/bc/a8481f6ac8b5d0ecc0fbd34aca906ee68d1757f24fefbd0f4294c0c9d2/idna-2.10-py2.py3-none-any.whl
importlib-metadata @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/1a/02/da/a4574cdf96cc80d385f8429de503f14176106bb54f422d92a968b01c51/importlib_metadata-1.7.0-py2.py3-none-any.whl
inflection @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/2e/d5/de/951f956609ad3b43d084db3d186b654a5ed936069e0af1746581fe5fac/inflection-0.5.1-py2.py3-none-any.whl
isort @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/4a/8a/f1/2452b522e9af8f9cbe31d431dd9470b726d862a92ae316f0e886479263/isort-5.8.0-py3-none-any.whl
itypes @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/21/d6/9c/ef083e918dd181151198db5877114a3cd9b03d9e19830a44a851c09f65/itypes-1.2.0-py2.py3-none-any.whl
Jinja2 @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/47/18/a4/1905063a877fa68496ecb2e347fc04c431948d96cf825a0960da5791e0/Jinja2-2.11.3-py2.py3-none-any.whl
lazy-object-proxy @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/88/1b/a9/6810f63c3bced559b4dc617c3caba1766e9fb0d2b3684961cf0365f7de/lazy_object_proxy-1.6.0-cp37-cp37m-win_amd64.whl
MarkupSafe @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/82/c1/0e/1a86bdb27a30a6c7ff86222b82234899ff30b0e1b00c87f830e28d25e8/MarkupSafe-1.1.1-cp37-cp37m-win_amd64.whl
mccabe @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/c2/cd/ed/3c4495a1422fb12eefbca8b3c6ccc83ab4ec92fd39df029199cc4f4ee4/mccabe-0.6.1-py2.py3-none-any.whl
mslex @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/cc/eb/62/12a9bae478e2e24a61e6a52a9e1fe46e1e55ed7ed7204164298356011f/mslex-0.3.0-py2.py3-none-any.whl
mypy-extensions @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/41/fb/ef/133cd18a3e22a06b8d77dfe2ba71c50c509e4d2484ee619c6631c0b5b2/mypy_extensions-0.4.3-py2.py3-none-any.whl
oauthlib @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/89/02/99/bd1c7ec02c4627c360be7075bd8cde7f33fba63d2d4cf820129c945add/oauthlib-3.1.0-py2.py3-none-any.whl
openapi-codec @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/77/20/c1/a951802ef0546ed8d6e7a5470eb339ee21b59f25b5f10cb2363ca529bf/openapi-codec-1.3.2.tar.gz
packaging @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/bf/c9/4b/d4c56a8494978126d690da73a04dfe71b97fa991e52f1634afc46f263e/packaging-20.9-py2.py3-none-any.whl
pathspec @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/d3/5f/9e/9c6b0f740c5d2430d10e5d6f50db88d8ffaab034156351d3fb698bd3c5/pathspec-0.8.1-py2.py3-none-any.whl
Pillow @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/13/a6/88/5478b8706a1685aebdd5ddc7d7cf61bc000921b36616928732b057f17f/Pillow-8.2.0-cp37-cp37m-win_amd64.whl
psutil @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/51/ca/e6/0e09303989aecb35335bf0bc4fc5461d7ea10261e29f60b30cd4654a05/psutil-5.8.0-cp37-cp37m-win_amd64.whl
psycopg2 @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/a0/eb/b1/9f85549d5075fdf9bec4a20ab0dde711689c716ee26a1278152e59e051/psycopg2-2.8.6-cp37-cp37m-win_amd64.whl
pycodestyle @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/a5/4d/b8/38f79509a4c7ac2a12983ce715595e1f983965f0e4c03d632074c05eec/pycodestyle-2.7.0-py2.py3-none-any.whl
pycparser @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/44/e9/07/88a70ff44631b83a33a8011053104dffbca00761b983eff85051639df2/pycparser-2.20-py2.py3-none-any.whl
pydantic @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/d3/bc/97/49491a42e7da5a468ce20b0f1b7a593ce28247eba6c3de2ba107ec2c9b/pydantic-1.8.1-cp37-cp37m-win_amd64.whl
pyflakes @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/23/7e/52/ea1293b6028d8abc80bab40d1d20c22ae4fb0290b35f06541da7cab403/pyflakes-2.3.1-py2.py3-none-any.whl
PyJWT @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/d8/49/2a/29865d4c8fc24bac4ea49dc058a319c743a7cd1a7a35ce2fb51366ac84/PyJWT-2.0.1-py3-none-any.whl
pylint @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/55/8e/d7/637197cf166d1722117e803bf465f5547cd9c4b1ae9a07f2605c5684b7/pylint-2.7.4-py3-none-any.whl
pylint-django @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/87/8f/91/5415c7c7d05d53438bfaa4e289177e052ed89c9b1da3364407eb39269a/pylint_django-2.4.3-py3-none-any.whl
pylint-plugin-utils @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/7c/d2/6a/e5eb429b22c9df4565d6e53c0c1b49e52920fc9b7b9eb71a02187adfbd/pylint_plugin_utils-0.6-py3-none-any.whl
pyparsing @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/78/8b/03/23dc60df50f099a658dd13c86d7d94564b0b86bfa2ff61bc9595fb2fcb/pyparsing-2.4.7-py2.py3-none-any.whl
python3-openid @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/3b/75/67/15b3a44609526db5140a2ec3734c2d7e21fc25d4b789a645767306120f/python3_openid-3.2.0-py3-none-any.whl
pytz @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/0c/d0/94/bbd2fee71be292862261e85cefb2231b1df628c7a0e5cb0170d8304963/pytz-2021.1-py2.py3-none-any.whl
regex @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/07/3f/90/19cad3f0732a606e83d493a60c97cca0b716cd84e53d33110b7c4c04c0/regex-2021.4.4-cp37-cp37m-win_amd64.whl
requests @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/f2/13/b8/cc7ac8d0aa2630507c04c2c0e72307bed4ee7e2c92d7c3d97a5d61e74e/requests-2.25.1-py2.py3-none-any.whl
requests-oauthlib @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/4d/fd/82/c23a43ac05c61e41a116ef5764b774481e583b9c3fc64266b37cd0a8b2/requests_oauthlib-1.3.0-py2.py3-none-any.whl
ruamel.yaml @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/82/7e/93/51925fb555452a6bea3fbc3f42bc1d342af303339634400c4f154a3fa5/ruamel.yaml-0.17.4-py3-none-any.whl
ruamel.yaml.clib @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/43/bf/06/a7b990f17cf71dffd4a3bae65bed8ed1f51a41e276451da2dac2c7375b/ruamel.yaml.clib-0.2.2-cp37-cp37m-win_amd64.whl
simplejson @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/30/41/89/7b3626521728589dee8b62c841d51f8f22790874b6b074ff46af613d73/simplejson-3.17.2-cp37-cp37m-win_amd64.whl
six @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/e3/96/48/99c14ba5c6276fbf4dc2e216553590ec97b52e685863f73e39550418c5/six-1.15.0-py2.py3-none-any.whl
social-auth-app-django @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/36/1a/1c/aace23fbde2130b9590b9b01fc2aa82d0845c6b401010d5137dd6ae7b3/social_auth_app_django-4.0.0-py3-none-any.whl
social-auth-core @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/a2/d9/a0/42c31605943635ea5a0cda4d4257e236fecb01f4d2b0b832473cb7c2a3/social_auth_core-4.1.0-py3-none-any.whl
sqlparse @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/6d/76/78/f92bca53204d46e1667c43240d1d291f09a78d47e3546c02464d0a7e35/sqlparse-0.4.1-py3-none-any.whl
taskipy @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/61/c0/44/d4b681ac90376358b77c21ab0898e88e896a6d86eb2445e156917400cd/taskipy-1.7.0-py3-none-any.whl
toml @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/4f/28/bf/d86336a479a830a4e11505920e408af09c2f5c129c3b59500aa93387fb/toml-0.10.2-py2.py3-none-any.whl
typed-ast @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/32/43/37/0a70000c950b0bbe51363a6e09e7f27ca619b405d4cb6100cbf03c59a4/typed_ast-1.4.3-cp37-cp37m-win_amd64.whl
typing-extensions @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/5a/dd/8f/5dc09cb3732cb0be9ecae5854eaa6aa0d4cd95752163c65283ecf9bd34/typing_extensions-3.7.4.3-py3-none-any.whl
uritemplate @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/4a/83/dc/f6fb6d5d066271fe97eccecbd6809bccfc69fd896cb640da8a2c4637a6/uritemplate-3.0.1-py2.py3-none-any.whl
urllib3 @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/54/b1/a1/ccbf6b869ccdaff965957abdd8e3e5aa4bee1533ed104a0d11bdc07a61/urllib3-1.26.4-py2.py3-none-any.whl
wrapt @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/9f/ab/9f/20b5ec8073ba1c685e2c6dcdb1f697c7bd444a693314612ea47a6620fd/wrapt-1.12.1.tar.gz
zipp @ file:///C:/Users/Vladimir%20Kiselev/AppData/Local/pypoetry/Cache/artifacts/16/0e/ae/e94ff238fe5d8b11b4eeb35f0ee94fd9f1b0d2182a3d47e3253ce47360/zipp-3.4.1-py3-none-any.whl
