{% extends "layouts/page-layout.html" %}
{% load static %}

{% block content  %}
<div class="sp-area">
  <div class="container">
    <div class="sp-nav">
      <div class="row">
        <div class="col-lg-4">
          <div class="sp-img_area">
            <div class="sp-img_slider slick-img-slider kenne-element-carousel slick-carousel-0 slick-initialized slick-slider" data-slick-options="{
            &quot;slidesToShow&quot;: 1,
            &quot;arrows&quot;: false,
            &quot;fade&quot;: true,
            &quot;draggable&quot;: false,
            &quot;swipe&quot;: false,
            &quot;asNavFor&quot;: &quot;.sp-img_slider-nav&quot;
            }">
              <div class="slick-list draggable" style="height: 698px;">
                <div class="slick-track" style="opacity: 1; width: 4140px;">
                  <div class="slick-slide slick-current slick-active first-active last-active" data-slick-index="0" aria-hidden="false" style="width: 690px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                    <div>
                      <div class="single-slide red zoom" style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                            <img src="assets/images/product/1-1.jpg" alt="Kenne's Product Image">
                                    <img role="presentation" alt="" src="file:///C:/Users/Vladimir%20Kiselev/Downloads/Kenne/Kenne/kenne/assets/images/product/1-1.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 690px; position: relative; left: -690px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1"><div><div class="single-slide orange zoom" style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img src="assets/images/product/1-2.jpg" alt="Kenne's Product Image">
                                    <img role="presentation" alt="" src="file:///C:/Users/Vladimir%20Kiselev/Downloads/Kenne/Kenne/kenne/assets/images/product/1-2.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 690px; position: relative; left: -1380px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1"><div><div class="single-slide brown zoom" style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img src="assets/images/product/2-1.jpg" alt="Kenne's Product Image">
                                    <img role="presentation" alt="" src="file:///C:/Users/Vladimir%20Kiselev/Downloads/Kenne/Kenne/kenne/assets/images/product/2-1.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 690px; position: relative; left: -2070px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1"><div><div class="single-slide umber zoom" style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img src="assets/images/product/2-2.jpg" alt="Kenne's Product Image">
                                    <img role="presentation" alt="" src="file:///C:/Users/Vladimir%20Kiselev/Downloads/Kenne/Kenne/kenne/assets/images/product/2-2.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 690px; position: relative; left: -2760px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1"><div><div class="single-slide black zoom" style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img src="assets/images/product/3-1.jpg" alt="Kenne's Product Image">
                                    <img role="presentation" alt="" src="file:///C:/Users/Vladimir%20Kiselev/Downloads/Kenne/Kenne/kenne/assets/images/product/3-1.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 690px; position: relative; left: -3450px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1"><div><div class="single-slide green zoom" style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img src="assets/images/product/3-2.jpg" alt="Kenne's Product Image">
                                    <img role="presentation" alt="" src="file:///C:/Users/Vladimir%20Kiselev/Downloads/Kenne/Kenne/kenne/assets/images/product/3-2.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div></div></div></div></div></div>
                                <div class="sp-img_slider-nav slick-slider-nav kenne-element-carousel arrow-style-2 arrow-style-3 slick-carousel-1 slick-gutter-30 slick-initialized slick-slider" data-slick-options="{
                                &quot;slidesToShow&quot;: 3,
                                &quot;asNavFor&quot;: &quot;.sp-img_slider&quot;,
                                &quot;focusOnSelect&quot;: true,
                                &quot;arrows&quot; : true,
                                &quot;spaceBetween&quot;: 30
                                }" data-slick-responsive="[
                                        {&quot;breakpoint&quot;:1501, &quot;settings&quot;: {&quot;slidesToShow&quot;: 3}},
                                        {&quot;breakpoint&quot;:1200, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2}},
                                        {&quot;breakpoint&quot;:992, &quot;settings&quot;: {&quot;slidesToShow&quot;: 4}},
                                        {&quot;breakpoint&quot;:768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 3}},
                                        {&quot;breakpoint&quot;:575, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2}}
                                    ]">

                                    <button class="tty-slick-text-btn tty-slick-text-prev slick-arrow slick-disabled" aria-disabled="true" style="display: block;"><i class="ion-ios-arrow-back"></i></button>

                                    <div class="slick-list draggable">
                                      <div class="slick-track" style="opacity: 1; width: 900px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="slick-slide slick-current slick-active first-active" data-slick-index="0" aria-hidden="false" style="width: 150px;">
                                          <div>
                                            <div class="single-slide red" style="width: 100%; display: inline-block;">
                                              <img src="assets/images/product/1-1.jpg" alt="Kenne's Product Thumnail">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 150px;">
                                          <div>
                                            <div class="single-slide orange" style="width: 100%; display: inline-block;">
                                              <img src="assets/images/product/1-2.jpg" alt="Kenne's Product Thumnail">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="slick-slide slick-active"  data-slick-index="2" aria-hidden="false" style="width: 150px;"><div><div class="single-slide brown" style="width: 100%; display: inline-block;">
                                        <img src="assets/images/product/2-1.jpg" alt="Kenne's Product Thumnail">
                                    </div></div></div><div class="slick-slide slick-active last-active" data-slick-index="3" aria-hidden="false" style="width: 150px;"><div><div class="single-slide umber" style="width: 100%; display: inline-block;">
                                        <img src="assets/images/product/2-2.jpg" alt="Kenne's Product Thumnail">
                                    </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 150px;" tabindex="-1"><div><div class="single-slide red" style="width: 100%; display: inline-block;">
                                        <img src="assets/images/product/3-1.jpg" alt="Kenne's Product Thumnail">
                                    </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 150px;" tabindex="-1"><div><div class="single-slide orange" style="width: 100%; display: inline-block;">
                                        <img src="assets/images/product/3-2.jpg" alt="Kenne's Product Thumnail">
                                    </div></div></div></div></div>

                                    <button class="tty-slick-text-btn tty-slick-text-next slick-arrow" style="display: block;" aria-disabled="false"><i class="ion-ios-arrow-forward"></i></button></div>
                            </div>
                        </div>


        <div class="col-lg-8">
          <div class="sp-content">
            <div class="sp-heading">
                <h5>
                <a href="javascript:void(0)">{{ object.name }}</a>
                </h5>
            </div>
              <div class="sp-essential_stuff">
                <ul>
                    <li>{{ object.description }}</li>

                    <li>Цена: <a href="javascript:void(0)">{{ object.price }}</a></li>
                </ul>
              </div>
              <div class="quantity">
                <label>Количество:</label>
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" value="1" type="text">
                  <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                  <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div><div class="inc qtybutton"><i class="fa fa-angle-up"></i></div></div>
              </div>
              <div class="qty-btn_area">
                <ul>
                  <li><a class="qty-cart_btn add-card-action" data-product-id="{{object.pk}}" href="javascript:void(0)">Добавить в корзину</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
